<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<head>
  <meta charset="utf-8" />
</head>
<body>
  <div >
    <h1 text-align="center">Welcome To A World of Instant Convinence</h1>
    <h2>Home maintenance? Household services? Need anything in running a happy home? We’re here to help! Workers is your agent for freedom, a service made for the hyper-connected world. </h2>

    <h4>
      We have taken multiple steps to ensure a hygienic service experience in the safety of your home. Our professionals wear masks, gloves & sanitise all equipment before service. Through this web app, you can get info of home services - from beauty & wellness for women & men, to home repairs & maintenance, such as AC servicing, electrician, plumber & carpenter.
    </h4>
    <img src="/assets/h8.jpg" alt="image">
    <h1 text-align="center" color="green">Services by Workers</h1>
    <h3 text-align="center">There is a perpetual need from both ends of the service spectrum; the consumer is constantly in need of dependable, efficient and economical solutions just as the provider is in need of stable, organized, career defining work. Since technology has enabled transparency through information exchange, it was our calling to bridge that gap, in the form of an app. Through our  Worker app, we can help as many people as possible to attend to home-bound distress calls and deploy our best resources to provide your instant convenience as a solution.</h3>
    <img src="/assets/h6.jpg" alt="image1">
    <img src="/assets/h9.jpg" alt="image1">

  </div>
</body>
</html>
