.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
thead
{
  background-color: black;
  color: white;
  text-align: center;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

button {
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin: 18px 0 25px 35px;
  border: none;
  cursor: pointer;
  width: 30%;
}
a{
  text-decoration: none;
  color: white;
}
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

    li a:hover:not(.active) {
      background-color: #111;
    }

.active {
  background-color: #4CAF50;
}
